@import "tailwindcss";

/* :root {
  --background: #171717;
  --foreground: #ffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1111;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.input {
  width: 100%;
  padding: 12px;
  border: 2px solid #9ca3af; /* CLEAR BORDER */
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
}

.input:focus {
  border-color: #2563eb;
  outline: none;
}

.label {
  font-size: 13px;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 6px;
  display: block;
}
